/**:host /deep/ ng2-smart-table thead > tr > th  { background-color:blue; }
:host /deep/ ng2-smart-table-title a:focus { color: #009ECE; }
:host /deep/ ng2-smart-table thead > tr > th > div { color: #009ECE; }
:host /deep/ td.ng2-smart-actions a {cursor: pointer;color: #009ECE; }
:host>>>table tr th { // your css here. } 

$table-font-color: #606c71;
$table-border-color: #e9ebec;

:host{
  /deep/ {

    table{
      color: $table-font-color;
      tr {
        td,th{
          border: 1px solid $table-border-color;
        }
      }
    }
  }
}  **/

/** this class is not used yet **/
:host /deep/ ng2-smart-table > table { 
	table: .table-striped;
	border :  0.25px solid;
	border-spacing : 1;
	}
:host /deep/ ng2-smart-table thead > tr > th  { 
	background:table-strip; 
	border: 0.25px solid;
	border-color : Grey;
	}

:host /deep/ ng2-smart-table thead > tr:first-child  { 
	background:table-strip; 
	border: 0.25px solid;
	 background-color:lightgrey;
	}
	
:host /deep/ ng2-smart-table tbody > tr > td { 
	text-align: left; 
	border :  0.25px solid;
	border-color : Grey
}