<form [formGroup]="countryFormGroup" (ngSubmit)="submit()"  novalidate>
	<div  formArrayName="countriesOnScreen" class="well well-lg">
		<div style="overflow-x: auto;">
			<table>
				<tr>
					<th class="center-block">Flag</th>
					<th class="center-block">Country Description</th>
					<th class="center-block">Country Code</th>
					<th class="center-block">Postal Length</th>
				</tr>
				<tr  *ngFor="let country of countriesOnScreen.controls; let i=index" [formGroupName]="i">
					<td class="form-group"><input class="form-control" formControlName="flag"></td>
					<td class="form-group"><input type="text" class="form-control" formControlName="countryDescription"></td>
					<td class="form-group">
						<select class="form-control" formControlName="countryCode">
							<option *ngFor = "let countryCode of countryCodes" [value]= "countryCode">
								{{countryCode}}
							</option>
						</select>
					</td>
					<td class="form-group"><input class="form-control" formControlName="postalCodeLength"></td>
					<td><button type="button" (click)="delete(i, country)" class="btn btn-success">Delete</button></td>
				</tr>
			</table>
		</div>
	</div>
	<div style="margin-bottom: 1em">
		<button type="button" (click)="add()" class="btn btn-danger">Add</button> &nbsp;
		<button type="submit" class="btn btn-success">Save</button> &nbsp;
		<button type="button" (click)="next()" class="btn btn-success">Save & Next</button> &nbsp;
		<button type="button" (click)="nextTab()" class="btn btn-success">Next</button> &nbsp;
		<!-- <button type="next" (click)="next()" class="btn btn-danger">Next</button> &nbsp; -->
		<!--  <button type="reset" (click)="revert()" [disabled]="countryFormGroup.pristine" class="btn btn-danger">Revert</button> -->
	</div>
</form>
