<form [formGroup]="currencyFormGroup" (ngSubmit)="submit()"  novalidate>
	<div  formArrayName="currenciesOnScreen" class="well well-lg">
		<div style="overflow-x: auto;">
			<table>
				<tr>
					<th class="center-block">Flag</th>
					<th class="center-block">Currency Code</th>
					<th class="center-block">Description</th>
					<th class="center-block">Number Of Decimals</th>
				</tr>
				<tr  *ngFor="let currency of currenciesOnScreen.controls; let i=index" [formGroupName]="i">
					<td class="form-group checkbox"><input type="checkbox" class="form-control" formControlName="flag"></td>
					<td class="form-group"><input type="text" class="form-control" formControlName="currencyCode"></td>
					<td class="form-group"><input class="form-control" formControlName="currencyDescription"></td>
					<td class="form-group"><input class="form-control" formControlName="numberOfDecimals"></td>
					<td><button type="button" (click)="delete(i, currency)" class="btn btn-success">Delete</button></td>
				</tr>
			</table>
		</div>
	</div>
	<div style="margin-bottom: 1em">
		<button type="button" (click)="add()" class="btn btn-danger">Add</button> &nbsp;
		<button type="submit" class="btn btn-success">Save</button> &nbsp;
		<!-- <button type="next" (click)="next()" class="btn btn-danger">Next</button> &nbsp; -->
		<button type="reset" (click)="revert()" [disabled]="currencyFormGroup.pristine" class="btn btn-danger">Revert</button>
	</div>
</form>


<p>Form value: {{ currencyFormGroup.value | json }}</p>
<p>Form status: {{ currencyFormGroup.status | json }}</p>
