<p>Form value: {{ calendarFormGroup.value | json }}</p>
<p>Form status: {{ calendarFormGroup.status | json }}</p>

<form [formGroup]="calendarFormGroup" (ngSubmit)="submit()"  novalidate>
	<div  formArrayName="calendarsOnScreen" class="well well-lg">
		<div style="overflow-x: auto;">
			<table>
				<tr>
					<th class="center-block">Calendar Code</th>
					<th class="center-block">Calendar Description</th>
					<th class="center-block">Closed Days</th>
					<th class="center-block">Date</th>
					<th class="center-block">Flag</th>
				</tr>
				<tr  *ngFor="let calendar of calendarsOnScreen.controls; let i=index" [formGroupName]="i">
					<td class="form-group"><input class="form-control" formControlName="calendarCode"></td>
					<td class="form-group"><input class="form-control" formControlName="calendarDescription"></td>
					<td class="form-group"><input class="form-control" formControlName="closedDays"></td>
					 <td colspan="2" class="form-group">
					<div  formArrayName="datesAndFlags" class="well well-lg">
						<div style="overflow-x: auto;">
						<table>
							<tr *ngFor="let dateAndFlag of datesAndFlags.controls; let j=index" [formGroupName]="j">
								<td class="form-group"><input class="form-control" formControlName="date"></td>
								<td class="form-group"><input type="checkbox" class="form-control" formControlName="flag"></td>
							</tr>
						</table>
						</div>
					</div>
					</td>  
					<td><button type="button" (click)="delete(i, calendar)" class="btn btn-success">Delete</button></td>
					
				</tr>
			</table>
		</div>
	</div>
	<div style="margin-bottom: 1em">
		<button type="button" (click)="add()" class="btn btn-danger">Add</button> &nbsp;
		<button type="submit" class="btn btn-success">Save</button> &nbsp;
		<!-- <button type="next" (click)="next()" class="btn btn-danger">Next</button> &nbsp; -->
		<button type="reset" (click)="revert()" [disabled]="calendarFormGroup.pristine" class="btn btn-danger">Revert</button>
	</div>
</form>



